/* paleta de cores */
:root {
    --gray: #38343D;    
    --gray-200: #686071;
    --gray-300: #797085;
    --gray-400: #F4EFFA;
    --gray-500: #FDFCFE;

    --red: #AA2222;

    --purple: #935FD3;
    --purple-2: #9245F1;
}

/* configs global */    
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  
    padding: 0;
    margin: 0;
  
    transition: 0.2s;

    font-family: 'Heebo', sans-serif;
}

/* configs */
body {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--purple)), to(var(--purple-2))) fixed;
}

h1, h2, h3, ul, li, a {
    color: var(--gray);
    list-style: none;
    text-decoration: none;
}

/* espaçador */
hr {
    border-top: 2px solid var(--gray-400);
    margin: 30px 0 15px 0;
}

/* container */
#container_perfil {
    width: 450px;
    height: 100%;
    
    margin: 0 auto 0 auto;
    padding: 20px 40px;
    border-radius: 15px;

    transform: scale(0.9);

    background: var(--gray-500);
}

/* perfil titulo */
.perfil_titulo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.perfil_titulo img {
    width: 60px;

    margin-right: 20px;
    border-radius: 10px;
}

.perfil_titulo a {
    color: var(--gray-200);
}

/* perfil secs */
.perfil_secs h3 {
    margin-bottom: 10px;

    font-size: 15px;
    font-weight: 400;

    letter-spacing: 4%;
    text-transform: uppercase;

    color: var(--gray-300);
}

.perfil_secs li, .perfil_footer li {
    padding: 5px 0;

    font-weight: 400;
    font-size: 18px;
}

.perfil_secs ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil_footer ul li a {
    display: flex;
    align-items: center;
}

.perfil_secs ul li a .setinha {
    width: 20px;
    height: 20px;
}

.perfil_secs .left_content {
    display: flex;
    align-items: center;
}

.perfil_secs .left_content img, .perfil_footer img {
    margin-right: 10px;
    width: 25px;
}

.perfil_secs li a:hover p, .perfil_footer li a:hover {
    color: var(--purple);
}

/* config de tela */
@media (max-width: 450px) {
    #container_perfil {
        width: 100%;
    }
}